footer {
  background-color: black;
  box-sizing: border-box;
  color: aliceblue;
  /* margin-top: auto; */
  padding: 20px;
  width: 100%;
}

.about-section {
  display: flex;
  justify-content: space-between;
}

.about-section h3 {
  margin-top: 2px;
}

.links {
  padding-left: 20px;
}

.links li {
  list-style: none;
}

.links li:hover {
  color: rgb(77, 25, 77);
  cursor: pointer;
  font-weight: 600;
}
