@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;600;800&family=Shizuru&family=Titillium+Web:ital,wght@0,400;0,700;1,200&display=swap') ;

.header-component {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header-user-name {
  display: flex;
  height: 150px;
  justify-content: space-between;
}

.logo {
  color: rgb(3, 154, 156);
  margin: 15px;
}

.logo i {
  font-size: 50px;
}

.logo h1 {
  font-family: Shizuru , cursive;
  margin: 0;
}

.user-info {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15px;
  width: 100px;
}

.user-info img {
  border: 3px solid rgb(77, 25, 77);
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.user-info p {
  color: aliceblue;
  margin: 0;
  text-align: center;
}

.search-links {
  padding: 10px 20px;
}

.search-links li {
  list-style: none;
}

.search-links a {
  align-items: center;
  border-radius: 15px;
  box-sizing: border-box;
  color: aliceblue;
  display: flex;
  font-size: 20px;
  height: 50px;
  justify-content: space-between;
  margin: 20px 40px;
  padding: 25px;
  text-decoration: none;
}

.search-links li:hover {
  cursor: pointer;
}

.search-links li:nth-child( 1 ) a {
  background-color: rgb(11, 82, 91);
}

.search-links li:nth-child( 2 ) a {
  background-color: rgb(39, 38, 64);
}

.search-links li:nth-child( 3 ) a {
  background-color: rgb(62, 31, 71);
}

.search-links li:nth-child( 1 ):hover a {
  background-color: rgb(26, 165, 184);
}

.search-links li:nth-child( 2 ):hover a {
  background-color: rgb(65, 63, 128);
}

.search-links li:nth-child( 3 ):hover a {
  background-color: rgb(115, 63, 129);
}

@media (min-width: 700px) {
  .header-user-name {
    margin: 0 30px;
  }

  .search-links a {
    margin: 20px 80px;
  }
}
