@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;600;800&family=Shizuru&family=Titillium+Web:ital,wght@0,400;0,700;1,200&display=swap') ;

.login-section {
  align-items: center;
  background-color: black;
  background-image: url('../images/icon-5974829.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  min-height: 90vh;
  width: 100%;
}

.login-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.login-container h1 {
  color: rgb(3, 154, 156);
  font-family: Shizuru , cursive;
  font-size: 70px;
  margin: 0;
}

.login-container h2 {
  color: aliceblue;
  font-size: 18px;
  text-align: center;
}

.logo {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.logo-img {
  color: rgb(3, 154, 156);
  font-size: 60px;
  position: relative;
}

.form-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.form-container h2 {
  color: aliceblue;
  font-size: 25px;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.login-name-input {
  border: 1px solid gray;
  border-radius: 8px;
  color: rgb(4, 50, 51);
  height: 30px;
  text-align: center;
  width: 300px;
}

.login-name-input:focus {
  border: 3px solid rgb(0, 100, 102);
}

.login-submit-button {
  background-color: rgb(0, 100, 102);
  border: 2px solid rgb(4, 50, 51);
  border-radius: 5px;
  color: aliceblue;
  font-weight: 600;
  margin: 10px;
  padding: 5px 12px;
}

.login-submit-button:disabled {
  background-color: rgba(196, 195, 195, 0.692);
  border: 2px solid gray;
  color: rgb(97, 96, 92);
}

.login-submit-button:hover {
  background-color: rgb(12, 174, 177);
  color: rgb(4, 50, 51);
  cursor: pointer;
}

.login-submit-button:disabled:hover {
  background-color: rgba(196, 195, 195, 0.692);
  border: 2px solid gray;
  color: rgb(97, 96, 92);
  cursor: auto;
}
