.music-container {
  /* border: 1px solid yellow; */
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.music-container span {
  font-size: 20px;
}

.music-container audio {
  margin: 15px 0
}

.music-container label {
  align-items: center;
  display: flex;
  font-size: 15px;
}

.checkbox-input {
  display: none;
}

.empty-heart {
  font-size: 1.22em;
  margin-left: 5px;
}

.full-heart {
  color: #813181;
  left: -1.1em;
  opacity: 0;
  position: relative;
  top: -0.03em;
}

.full-heart:hover {
  opacity: 0.6;
}

.checkbox-input:checked ~ .full-heart {
  opacity: 1;
}

/* Referência do botão de favorito: https://codepen.io/Guades/pen/bewZgO */
